<div class="table-responsive">
    <table class="table table-hover mb-0">
        <thead>
        <tr>
            <th>Event</th>
            <th>Host</th>
            <th>Performance</th>
            <th>Source</th>
            <th>State</th>
        </tr>
        </thead>
        <tbody>
        {% for ping in pings %}
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <i class="bi bi-arrow-repeat text-secondary me-2"></i>
                        <div>
                            <div>Execution</div>
                            <div class="text-muted small">
                                {{ ping.getFormattedTimestamp() }}
                                {% if ping.timezone %}
                                    ({{ ping.timezone }})
                                {% else %}
                                    UTC
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </td>
                <td>{{ ping.host }}</td>
                <td>{{ ping.duration ? ping.duration|round(0) ~ ' ms' : '-' }}</td>
                <td>
                    {% if ping.runSource %}
                        <span class="badge bg-info">{{ ping.runSource }}</span>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    <span class="badge {{ ping.state == 'complete' ? 'bg-success' : (ping.state == 'run' ? 'bg-primary' : 'bg-danger') }}">
                        {{ ping.state|capitalize }}
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="card-footer d-flex justify-content-between align-items-center">
    <div>Showing {{ ((page - 1) * limit) + 1 }} to {{ min((page * limit), total) }} of {{ total }} results</div>
    <div>
        <a href="{{ app_url }}/monitors/{{ monitor.id }}/latest-activity?page={{ page - 1 }}&limit={{ limit }}"
           class="btn btn-sm btn-outline-secondary {{ page <= 1 ? 'disabled' : '' }}">
            Previous
        </a>
        <a href="{{ app_url }}/monitors/{{ monitor.id }}/latest-activity?page={{ page + 1 }}&limit={{ limit }}"
           class="btn btn-sm btn-outline-secondary ms-2 {{ page >= maxPage ? 'disabled' : '' }}">
            Next
        </a>
    </div>
</div>